@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;500;600&family=Raleway:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
:root{
    --presimax-brand-color:  #ff8c00;
    --presimax-brand-light-color:  #ff8c00;
    --presimax-font-1: 'Playfair Display', serif;
    --presimax-font-2: 'Raleway', sans-serif;    
    --presimax-font-3: 'Bitter', serif;
    --link-color: #0099CC;
    --presimax-silver: #C0C0C0;
    --presimax-light-white: #DCDCDC;
    --presimax-black: #0b0704;
    --presimax-white: #f8f9f5;
    --product-back-ex: #f8f9f5;
    --product-back: #fdde6c;
    --presimax-white-orange: #fdf9ef;
    --presimax-tag-opacity: .7;
    --end: -95%;
}
.fas,.far,.fa{
    font-weight: 600;
}
.presimax-brand-color{
    color: var(--presimax-white-orange);
}
body{
    color: var(--presimax-body-color);
    font-family: var(--presimax-font-2);   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    width: 97vw !important;
    margin: auto;
    background-color: #f5f5f5 !important;
  }
.dark-mode{
    font-weight: 400;
    color: var(--presimax-black);
}
.heading, .h2, .h3{
    text-transform: capitalize;
    font-weight: 400;    
    font-size: 1.2rem;
    font-family: var(--presimax-font-1) !important;
}
.h2{
    font-family: var(--presimax-font-3) !important;
    font-size: 1rem !important;
}
.h3{
    font-family: var(--presimax-font-3) !important;
    font-size: 14px !important;
}
.file-upload {
    display: none;
}
.profile-pic {
  width: 6rem;
  height: 6rem;  
  border-radius: 50%;
}
.profile-pic-sec{
    width: 5rem;
    height: 5rem;  
    border-radius: 0%;
    position: relative;
}
.pic-details{
    display: flex;
    flex-direction: row; 
    background-color: #fff;
}
.profile{
    height: 9rem;
    background: #fff;
    display: flex;
    flex-direction: row;        
    font-family: var(--presimax-font-2);
    margin-left: .3rem;
    margin-right: .3rem;    
}

.user-opts,.cart-opts{
    background: #fff;
    display: flex;
    flex-direction: column;    
    font-family: var(--presimax-font-2);
    font-size: 1rem; 
    margin-top: 1rem;
    margin-left: .3rem;
    margin-right: .3rem;
    font-weight: 400;
}
.user-opts{
    text-align: left;
}
.cart-opts{
    flex-direction: row;       
    cursor: pointer;
}
.cart-details{
    margin: .5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-details:nth-child(1){
    border-right: .05rem solid #dfdfdf;
}
.option{
    border-bottom: .05rem solid #dfdfdf;
    cursor: pointer;
}
.cam-btn{
    font-size: 2rem;
    position: absolute;
    bottom: -1.8rem;
    right: -1.7rem;
    border: none;
    font-size: 2.3rem;
    background: transparent;
    color: var(--presimax-brand-color);
}
.fc {
    display: block;
    width: 80%;
    height: calc(1.3em + .7rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.check-btn{
    border: none;    
    font-size: 1.5rem;
    background: transparent;
    color: var(--presimax-brand-color);
}
.user-details{
    margin-left: 3rem;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: capitalize;
}
.round-do-btn {
    border-radius: 4px;
    background: var(--presimax-brand-color);
    color: #fff;
    padding: 7px 45px;
    display: inline-block;        
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    border: solid 2px var(--presimax-brand-color); 
    transition: all 0.5s ease-in-out 0s;
  }  
  .round-do-btn:hover,
  .round-do-btn:focus{
    background: transparent;
    color:  var(--presimax-brand-color);
    text-decoration: none;
  } 
  .round-cancel-btn {
    border-radius: 4px;
    color: var(--presimax-brand-color);
    background-color: #fff;    
    padding: 7px 10px;
    display: inline-block;        
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    border: solid 2px var(--presimax-brand-color); 
    transition: all 0.5s ease-in-out 0s;
  }  
.round-unpad-btn{
    border-radius: 4px;
    color: var(--presimax-brand-color);
    background-color: #fff; 
    display: inline-block;        
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    border: solid 2px var(--presimax-brand-color); 
    transition: all 0.5s ease-in-out 0s;
}
.overlay{
    display: none;
    position: fixed;
    top: 0rem;
    left: 0;
    bottom: 0;
    right: 0;  
    padding-bottom: 7rem;
    background: rgba(0,0,0,0.6);   
    z-index:1500; 
}
.overlay > img{
    width: 80%;
    height: auto;
    padding: 5%;
    padding-top:3rem;
    z-index:1500; 
}
.large-screen{
    display: none;
}
@media only screen and (min-width: 600px) {    
    .profile-pic {
        width: 7rem;
        height: 7rem;  
        border-radius: 50%;
      }
    .pic-details{
        margin-left: 3rem;    
    }
    .user-details{
        margin-left: 6rem;    
    }
    .profile,.cart-opts{
        width: 80vw;
        margin: 1rem auto;    
    }
    .cam-btn{
        font-size: 2rem;
        position: absolute;
        bottom: -2rem;
        right: -1.7rem;
        font-size: 2.3rem;
        background: transparent;
        color: var(--presimax-brand-color);
    }
    .small-screen{
        display: none;
    }
    .large-screen{
        display: inline;
    }
    .user-opts{
        width: 40vw;
        font-size: 1.4rem;    
    }
    .two{
        display: flex;
        flex-direction: row;
        align-items: center;        
        width: 80vw;
        margin: auto;
        justify-content: space-between;
    }
    .whats-scan{
        width: 14rem;
        height: 14rem;
    }
}
@media only screen and (min-width: 900px) {  
.profile-pic {
    width: 7rem;
    height: 7rem;  
    border-radius: 50%;
  }
.pic-details{
    margin-left: 3rem;    
}
.user-details{
    margin-left: 6rem;    
    font-size: 1.4rem;
}
.profile,.cart-opts{
    width: 80vw;
    margin: 1rem auto;    
}
.cam-btn{
    font-size: 2rem;
    position: absolute;
    bottom: -2rem;
    right: -1.7rem;
    font-size: 2.3rem;
    color: var(--presimax-brand-color);
}
.small-screen{
    display: none;
}
.two{
    display: flex;
    flex-direction: row;
    align-items: center;        
    width: 80vw;
    margin: auto;
    justify-content: space-between;
}
.large-screen{
    display: inline;
    margin: auto;
}
.user-opts,.large-screen{
    width: 50%;
}
.user-opts{
    width: 40vw;
    font-size: 1.7rem;    
}
.whats-scan{
    width: 15rem;
    height: 15rem;
}
}
