{% extends 'base.html' %}
{% load static %}
{% block head_title %}Club | PRESIMAX{% endblock %}
{% block content %}
<link href="{% static 'css/club.css' %}" rel="stylesheet">
</head>
{%if user.userprofile.Isclubmem %}


<style>
  .in-nav{        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    font-size: 2rem;
    font-weight: 100;
    background-color: #fff;
    color: #746d60;
    z-index: 1030; 
  }
  span:hover{
    color: var(--presimax-brand-color);        
  }
  .holder{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--preimax-brand-color);
  }
  nav>a>{
    display: inline;
    max-width: 2rem;
    height: min-content;
    text-align: center;        
  }  
  .caption{    
    font-size: .378em;
    font-weight: 300;
  }
@media only screen and (min-width: 600px) {
  .bottom-nav-fixed{
    padding-left: 15%;
    padding-right: 17%;
  }
}
a{
  color: inherit;
}
</style>
<main>
  <div style="margin-bottom: 5rem;"></div>
  <nav class="in-nav mb-2">    
    <a href="#wallet"  >    
      <div class="holder" >      
        <span class="bx bx-wallet-alt" > </span>
        <span class="caption" >My Wallet</span></div></a>    
    <a href="#bank" ><div class="holder" >      
      <span class="bx bxs-bank" > </span>
      <span class="caption" >Bank details</span>
    </div></a>
    <a href="#level" ><div class="holder" >      
      <span class="bx bx-line-chart" > </span>
      <span class="caption" >My Level</span>
    </div></a>
    <a href="{% url 'core:withdraw' %}" ><div class="holder" >      
       &#8377; 
      <span class="caption" >Withdraw Money</span>
    </div></a>
    <a href="{% url 'core:downliners' %}"  >    
      <div class="holder" >      
        <span class="bx bxs-user-account" > </span>
        <span class="caption" >My Downliners</span></div></a>    
    <a href="whatsapp://send?text=Please join in PRESIMAX CLUB with my Referal code : {{ request.user.userprofile.clubjoin.refer }}
    PRESIMAX
   Link for registration:
   https://www.presimax.online/
   Download the app now in play store with this link:
   https://play.google.com/store/apps/details?id=com.presimax.neona" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp">
    <div class="holder" >      
      <span class="bx bxs-share-alt" > </span>
      <span class="caption" >Refer a friend</span></div></a>            
</nav>
<!-- car -->  
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        {% for item in citems %}
        <li data-target="#carousel" data-slide-to="{{ forloop.counter }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <a href="{{ item.urlf }}">
                 <picture>
                  <source srcset="{{ item.img.url }}" media="(min-width: 1400px)">
                  <source srcset="{{ item.img.url }}" media="(min-width: 769px)">
                   <source srcset="{{ item.img.url }}" media="(min-width: 577px)">
                  <img srcset="{{ item.img.url }}" alt="responsive image" class="d-block img-fluid">
                </picture>

                <div class="carousel-caption">
                    <div>
                        <h2>{{ item.head }}</h2>
                        <p>{{ item.des }}</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.carousel-item -->
        {% for item1 in citems %}
        <div class="carousel-item">
            <a href="{{ item1.urlf }}">
                 <picture>
                  <source srcset="{{ item1.img.url }}" media="(min-width: 1400px)">
                  <source srcset="{{ item1.img.url }}" media="(min-width: 769px)">
                   <source srcset="{{ item1.img.url }}" media="(min-width: 577px)">
                  <img srcset="{{ item1.img.url }}" alt="responsive image" class="d-block img-fluid">
                </picture>

                <div class="carousel-caption justify-content-center align-items-center">
                    <div>
                        <h2>{{ item1.head }}</h2>
                        <p>{{ item1.des }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- car -->
  <div class="profile mt-2 p-3">
    <div class="pic-details">    
     <div class="profile-pic-sec">
      {% if request.user.userprofile.userphoto %}
      <img class="profile-pic upload-button" src="{{ request.user.userprofile.userphoto.url }}" alt="profile-pic">
      {% else %}
      <img class="profile-pic upload-button" src="https://www.presimax.online/media/images/plog.jpeg" alt="profile-pic">
      {% endif %}           
     </div>      
    </div>
    <center>
    <div class="user-details pt-2">
      <span class="u-n">{{ request.user.username }}</span><br>      
      <span class="u-p">Referal Id: {{ request.user.userprofile.clubjoin.refer }}</span> <br>
      <strong><span class="u-p">Wallet: &#8377;{{ request.user.userprofile.clubjoin.usermoney|floatformat:"0" }}</span></strong>
    </div>  
  </center>  
  </div>
  <div class="cart-opts p-2">
    <div id="level" style="font-size: 1.4rem;" class="cart-details">
      <div class="progress-bar" data-toggle="tooltip" data-placement="top" title=" {{ now|floatformat:'0' }}% of level {{ request.user.userprofile.clubjoin.level|floatformat:'0' }} is comleted" data-percent="{{ now|floatformat:'0' }}" data-duration="1000" data-color="#fff,#ff8c00"></div>
      <br>
      <small><span class="mt-2">Level : {{ request.user.userprofile.clubjoin.level|floatformat:"0" }}</span></small>
    </div>
    <div style="font-size: 1.4rem;" class="cart-details">
      <img class="man" 
      {% if request.user.userprofile.clubjoin.desig == "Beginner" %}
      src="https://gifimage.net/wp-content/uploads/2017/11/gif-con-movimiento-graciosos-de-personas-10.gif"
      {% elif request.user.userprofile.clubjoin.desig == "SubordianteCaption" %}
      src="https://i.pinimg.com/originals/cd/3f/06/cd3f06373faaf47c75e51208103a681f.gif"
      {% elif request.user.userprofile.clubjoin.desig == "ManagingCaption" %}
      src="https://i.pinimg.com/originals/2c/c9/c6/2cc9c6cfcc76cb6d26d331c3adc36d4a.gif"
      {% elif request.user.userprofile.clubjoin.desig == "BronzeCaption" %}
      src="https://www.elgineagles.org/vimages/shared/vnews/stories/590c796acf220/1_basketball.gif"
      {% elif request.user.userprofile.clubjoin.desig == "SilverCaption" %}
      src="https://droidz.org/resources/12229711645.gif"      
      {% elif request.user.userprofile.clubjoin.desig == "GoldCaption" %}
      src="https://www.animatedimages.org/data/media/1528/animated-stick-figure-image-0069.gif"      
      {% endif %}
      alt="">
      <span> {{ request.user.userprofile.clubjoin.desig }} </span>
    </div>
    <div style="font-size: 1.4rem;" class="cart-details lgs bank">
      <span data-toggle="tooltip" data-placement="top" title="Bank details or paytm to which income is added"  class="bx bxs-bank mb-3" style="font-size:3rem;color:#ff8c00;"></span>
      {% if not request.user.userprofile.clubjoin.Acno == "False" %}
      <small><span class="mt-2"><sup>A/c</sup><span class="ml-2">{{ request.user.userprofile.clubjoin.Acno | truncatechars:'9' }}</span></small>
      <small><span class="mt-2"><sup>Ifsc</sup> {{ request.user.userprofile.clubjoin.Ifsc }}</span></small>
      {% else %}
      <small data-toggle="tooltip" data-placement="top" title="Your paytm Number"><span class="mt-2"><sup>P/N</sup><span class="ml-2">{{ request.user.userprofile.clubjoin.paytm| truncatechars:'9' }}</span></small>
      {% endif %}
    </div>
    <div style="font-size: 1.4rem;" class="cart-details lgs wallet">
      <span class="bx bxs-wallet-alt mb-3" style="font-size:3rem;color:#ff8c00;"></span>
      <span>  &#8377;{{ request.user.userprofile.clubjoin.usermoney|floatformat:"0" }} </span>
    </div>
  </div>
  <div class="cart-opts p-2 sms">
    <div style="font-size: 1.4rem;" class="cart-details bank" id="bank">
      <span class="bx bxs-bank mb-3" data-toggle="tooltip" data-placement="top" title="Bank details or paytm to which income is added" style="font-size:3rem;color:#ff8c00;"></span>
      {% if not request.user.userprofile.clubjoin.Acno == "False" %}
      <small><span class="mt-2"><sup>A/c</sup><span class="ml-2">{{ request.user.userprofile.clubjoin.Acno | truncatechars:'9' }}</span></small>
      <small><span class="mt-2"><sup>Ifsc</sup> {{ request.user.userprofile.clubjoin.Ifsc }}</span></small>
      {% else %}
      <small data-toggle="tooltip" data-placement="top" title="Your paytm Number" ><span class="mt-2"><sup>P/N</sup><span class="ml-2">{{ request.user.userprofile.clubjoin.paytm| truncatechars:'9' }}</span></small>
      {% endif %}
    </div>
    <div style="font-size: 1.4rem;" class="cart-details wallet" id="wallet">
      <span class="bx bxs-wallet-alt mb-3" style="font-size:3rem;color:#ff8c00;"></span>
      <span>  &#8377;{{ request.user.userprofile.clubjoin.usermoney|floatformat:"0" }} </span>
    </div>
  </div>
  <div style="margin-top:10rem;opacity:0">kjfdlfsdkfdsjkflsd</div>
  <center>
  <style>
    .wallet-div{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 2rem;
      z-index: 1500;
      background: rgba(0, 0, 0, 0.65);          
    }    
  </style>
  <div class="wallet-div" style="display: none;"> 
  <span style="float: right;color:#fff;cursor:pointer;z-index:1500" class="mr-3 wallet bx bx-x fa-3x" ></span><br> 
    <div class="two">      
      <div class="user-opts p-2" style="font-size:1rem">
        <div class="option p-2">
          <span class="bx bxs-wallet-alt mb-3" style="font-size:3rem;color:#ff8c00;"></span>
        <span>Total Income : &#8377;{{ request.user.userprofile.clubjoin.usermoney|floatformat:"0" }} </span> 
        </div>  
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Refer Income : &#8377;{{ request.user.userprofile.clubjoin.referincome|floatformat:"0" }}</span>   
        </div>                
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Order Income : &#8377;{{ request.user.userprofile.clubjoin.orderincome|floatformat:"0" }}</span>   
        </div>
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Bonus : &#8377;{{ request.user.userprofile.clubjoin.bonusincome|floatformat:"0" }}</span>   
        </div>
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Downline Income : &#8377;{{ request.user.userprofile.clubjoin.downlineincome|floatformat:"0" }}</span>   
        </div>
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Level Income : &#8377;{{ request.user.userprofile.clubjoin.levelincome|floatformat:"0" }}</span>   
        </div>
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Travel Fund : &#8377;{{ request.user.userprofile.clubjoin.travelfund|floatformat:"0" }}</span>   
        </div>
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Position Income : &#8377;{{ request.user.userprofile.clubjoin.positionincome|floatformat:"0" }}</span>   
        </div>
        <div class="option p-2">
          <span class="bx-lg mr-2" style="color: #ff8c00;">&#8377;</span><span>Team Income : &#8377;{{ request.user.userprofile.clubjoin.teamincome|floatformat:"0" }}</span>   
        </div>        
      </div>
      <div style="margin-top:10rem;opacity:0">kjfdlfsdkfdsjkflsd</div>
  </div>
</main>

{%else%} 

<style>
.form-signin {
width: 100%;
max-width: 420px;
padding: 15px;
margin: auto;
}

.custdiv{
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
padding-bottom: 20px;
margin: 0;  
font-family: 'Karla', sans-serif;
padding: 5%;
}


.input-group-login {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-align: stretch;
align-items: stretch;
width: 100%;
}
.input-group-prepend-login {
margin-right: -1px;
}
.input-group-prepend-login {
display: -ms-flexbox;
display: flex;
}

.input-group-login > .custom-select:not(:first-child),
.input-group-login > .form-control-login:not(:first-child) {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.input-group-login > .custom-file,
.input-group > .custom-select,
.input-group-login > .form-control-login {
position: relative;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
width: 1%;
min-width: 0;
margin-bottom: 0;
}
.mt-login {
margin-top: 0.25rem !important;
}
.border-0-login {
border: 0 !important;
}
.form-control-login {
display: block;
width: 300px;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fad59d;
border-radius: 28px 28px 28px 28px;
-moz-border-radius: 28px 28px 28px 28px;
-webkit-border-radius: 28px 28px 28px 28px;
border: 0px solid #000000;
}
button,
input {
overflow: visible;
color:#fff;
}

.input-group-text {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
padding: 0.375rem 0.75rem;
height: 45px;
margin-bottom: 0;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
text-align: center;
white-space: nowrap;
border: 1px solid #ced4da;
border-radius: 28px 0px 0px 28px;
-moz-border-radius: 28px 0px 0px 28px;
-webkit-border-radius: 28px 0px 0px 28px;
border: 0px solid #000000;
}

.input-border-none{
border: 1px solid red;
outline: none;
}

.fondo-icon {
background: #FF8C00;
color: #fff;
}
.text-center {
text-align: center;
}
.button-signup {
display: inline-block;
font-weight: 400;
color: #ffffff;
height: 45px;
width: 300px;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 28px 28px 28px 28px;
-moz-border-radius: 28px 28px 28px 28px;
-webkit-border-radius: 28px 28px 28px 28px;
border: 0px solid #000000;
cursor: pointer;
}
.fondo-color-signup {
background: #FF8C00;
}
.icons-position {
display: flex;
justify-content: center;
align-items: center;
}
.icon-social{
height: 50px;
width: 50px;
display: inline-block;
background-color: white;
margin: 10px;

border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000;

-webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}
h3{
font-size: 1.4em;
color: #e67e00;
}
.text-left{
text-align: left;
padding-left: 3%;
}
::placeholder { 
    color: #FFF;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color:  #FFF;
  }
  
  ::-ms-input-placeholder { 
    color: #FFF;
  }
a{
color:inherit;}
</style>
<div class="custdiv">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
</style>       
<form class="form-signin login" method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div style="margin-bottom:5rem"></div>
    <p class="text-center">
    <img src="https://www.presimax.online/static/img/plog.jpeg" height="100" width="200" />          
    </p>
    <div class="input-group-login sombreado-input">
    <div class="input-group-prepend-login">
        <span class="input-group-text fondo-icon">
        <i class="far fa-image"></i>
        </span>
    </div>
    <input name="image" accept=".png,.jpg,.jpeg" type="file" autofocus="autofocus" value="Profile Picture" class="border-0-login form-control-login input-border-none" requiredField>
    </div>
    <br>
    <div class="input-group-login sombreado-input">
        <div class="input-group-prepend-login">
            <span class="input-group-text fondo-icon">
                <i class="fas fa-mobile-alt"></i>
            </span>
        </div>
        <input name="userphonenumber" type="number" placeholder="Phone Number" autofocus="autofocus" class="border-0-login form-control-login input-border-none" requiredField>
        </div>
    <br />
    <div class="input-group-login sombreado-input">
    <div class="input-group-prepend-login">
        <span class="input-group-text fondo-icon">
        <i class="fas fa-qrcode"></i>
        </span>
    </div>
    <input name="referalcode" id="referalcode" type="text" class="border-0-login form-control-login input-border-none"
        placeholder="Referal Code" >
    </div>
    <br>
    <div class="input-group-login sombreado-input">
    <div class="input-group-prepend-login">
        <span class="input-group-text fondo-icon">
        <i class="fas fa-piggy-bank"></i>
        </span>
    </div>
    <input name="acno" type="text" class="border-0-login form-control-login input-border-none"
        placeholder="Account Number" >
    </div>
    <br>
    <div class="input-group-login sombreado-input">
    <div class="input-group-prepend-login">
        <span class="input-group-text fondo-icon">
        <i class="fas fa-piggy-bank"></i>
        </span>
    </div>
    <input name="ifsc" type="text" class="border-0-login form-control-login input-border-none"
        placeholder="IFSC Code" >
    </div>
    <br>
    <div class="input-group-login sombreado-input">
    <div class="input-group-prepend-login">
        <span class="input-group-text fondo-icon">
            <i class="fas fa-mobile-alt"></i>
        </span>
    </div>
    <input name="paytm" type="text" class="border-0-login form-control-login input-border-none"
        placeholder="Paytm Number ( If any )" >
    </div>
    <br>    
    <center>
    <div class="md-form custom-control custom-checkbox ml-3">
            <input type="checkbox" name="checkbox" class="custom-control-input ml-2" id="defaultUnchecked" requiredField>
            <label class="custom-control-label ml-2" for="defaultUnchecked">Accept our <a style="color:#ff8c00" href="https://www.presimax.online/privacy/">Privacy policy.</a></label>
        </div>
    </center>
    <br>        
    <p class="text-center">
    <button type="submit" class="button-signup fondo-color-signup">
        Join
    </button>
    <div style="margin-top:10rem"></div>
    </p>        
</form>
        
{%endif%}
{% endblock content %}    
{% block extra_scripts %}
<script src="{% static 'js/jQuery-plugin-progressbar.js' %}"></script>
<script>
  $(".progress-bar").loading();
</script>
<script>
function enable() {
var loc = String(window.location.href);
var lst = loc.split('/');    
var ref_code = lst[lst.length-2];
if(lst[lst.length-3]=="refer-club"){    
  $('#referalcode').val(ref_code);
  $('#referalcode').text(ref_code);
  }
}
enable();
$('.wallet').on( 'click' ,function(){  
  $('.wallet-div').toggle();  
})
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock extra_scripts %}