<style>
#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

</style>
<footer id="footer" class="d-flex-column text-center" style="background-color:#4f4c4e;color:#fff">
  <hr class="mt-0">
  <!--Social buttons-->
  <div class="text-center">
    <h4>We are here to help you, find us at..</h4>
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/111123270605452/posts/113395863711526/?flite=scwspnss&extid=5kN8Z7lyEjyr186x" class="sbtn btn-large mx-1" title="Facebook">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="sbtn btn-large mx-1" title="Linkedin">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="sbtn btn-large mx-1" title="Twitter">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.youtube.com/channel/UC0QWIzMT2Fu0TGRpEtTkAzw" class="sbtn btn-large mx-1" title="Youtube">
          <i class="fab fa-youtube-square fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <!--/.Social buttons-->
  <hr class="mb-0">
  <!--Footer Links-->
  <div class="container text-left text-md-center">
    <div class="row">
      <!--First column-->
      <div class="col-md-3 mx-auto shfooter">
        <h4 class="my-2 font-weight-bold d-none d-md-block">Why us</h4>
        <div class="d-md-none title" data-target="#Product" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">why us
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Product">
          <li><a href="/ecommerce/">More benifits</a></li>
          <li><a href="/ecommerce/">Great discounts</a></li>
          <li><a href="/club/">Less work</a></li>
        </ul>
      </div>
      <!--/.First column-->
      <hr class="clearfix w-100 d-md-none mb-0">
      <!--Second column-->
      <div class="col-md-3 mx-auto shfooter">
        <h4 class="my-2 font-weight-bold d-none d-md-block">Menu</h4>
        <div class="d-md-none title" data-target="#Company" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">menu
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Company">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About us</a></li>
          <li><a href="https://wa.me/919515416221">Contact us</a></li>
          <li><a href="/privacy/">Privacy Policy</a></li>
          <li><a href="/returnpolicy/">Return Policy</a></li>
        </ul>
      </div>
      <!--/.Second column-->
      <hr class="clearfix w-100 d-md-none mb-0">
      <!--Third column-->
      <div class="col-md-3 mx-auto shfooter">
        <h4 class="my-2 font-weight-bold d-none d-md-block">Get help</h4>
        <div class="d-md-none title" data-target="#Resources" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">Resources
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Resources">
          <li><a href="https://www.youtube.com/channel/UC0QWIzMT2Fu0TGRpEtTkAzw">videos</a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.presimax.neona">Download our App in PlayStore</a></li>
        </ul>
      </div>
      <!--/.Third column-->
      <hr class="clearfix w-100 d-md-none mb-0">
      <!--Fourth column-->
      <div class="col-md-3 mx-auto shfooter">
        <h4 class="my-2 font-weight-bold d-none d-md-block">Get Help</h4>
        <div class="d-md-none title" data-target="#Get-Help" data-toggle="collapse">
          <div class="mt-3 font-weight-bold">Get Help
            <div class="float-right navbar-toggler">
              <i class="fas fa-angle-down"></i>
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
        </div>
        <ul class="list-unstyled collapse" id="Get-Help">
          <li><a href="https://wa.me/919515416221" target="_blank">Get in touch</a></li>
          <li><a href="https://wa.me/919515416221">talk to us</a></li>
          <li><a href="https://wa.me/919515416221">Ask for special treats and discounts</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'account_logout' %}">Login</a></li>
          <li><a href="{% url 'core:Profile' %}">Edit Profile</a></li>
          {% else %}
          <li><a href="{% url 'account_signup' %}">Create account</a></li>
          <li><a href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->