<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/111123270605452/posts/113395863711526/?flite=scwspnss&extid=5kN8Z7lyEjyr186x" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="#" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/channel/UC0QWIzMT2Fu0TGRpEtTkAzw" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="#" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="#" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D919493259030%26fbclid%3DIwAR2OAt-sIOhjHmc0YBfGvo2JoGwXMfug9yUMIZap-6fmRYfPD-Q3m0VenbU&h=AT1Cs1hjono1EtL82L__gDpq-j5n2RaBZhfML2JphLc1fDf-C4ghZYz5cGuwzhGAGtZUYjBMOColVLkHgHG75NJCp8L_sQlv4sPKiAsMxM2ymaPTA_fWqNLe-3IqL45XT8OkWvQ1AVobotFKfJzRVpikIUacZEwp5w" target="_blank">
        <i class="fab fa-whatsapp mr-3"></i>
      </a>

      <a href="#" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
      </a>

      <a href="#" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="#" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="#" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->
    <div class="pb-1">
      PRISIMAX : Make in <i class="fas fa-heart"></i> INDIA products
    </div>
    

  </footer>