{% load static %}
{% load social_share %}
{% load humanize %}
{% load cart_template_tags %}
{% load myorders_template_tags %}
{% load reviews_template_tags %}
{% load notifications %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/gif" sizes="16x16">
  <title>Presimax | Store</title>  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
</head>
<style>
  #home {
    color: var(--presimax-brand-color);
  }
</style>

<body class="bg">
  
  {% if messages %}
  <div aria-live="polite" aria-atomic="true" style="position: fixed; top: 7rem; right: 2rem;z-index:1500">
    {% for message in messages %}
    <div style="position: relative; top: 0; right: 0;z-index:1500">      
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header" >
          <span style="background:#ff8c00;width:20px;height:20px;" class="rounded mr-2"></span>
          <strong class="mr-auto">Presimax</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>      
    </div>
    {% endfor %}
  </div>
  {% endif %}
  
  <nav class="nav-bar pt-1 pb-1">
    <a href="{% url 'core:order-summary' %}"><span style="float: left;" class="bx bxs-cart-download fa-2x ml-3"></span></a>
    <center>
      <img src="https://www.presimax.online/media/images/plog.jpeg" class="logo-image" alt="presimax-logo">
    </center>
    <span style="float: right;" class="bx bx-bell fa-2x mr-3"></span>
    </div>
  </nav>
  <br clear="all">
  <main>
    <form action="" name="search-form">
      <nav class="search-bar pt-2 pb-2 pl-2">
        <div class="large-screen mr-5">
          <a href="#" id="">Buy a Mask</a> |
          <a href="#" id="">Today's Deals</a> |
          <a href="#" id="">Great Disocunts on</a>
        </div>
        <select id="cat" name="category" class="fc">
          <option>All</option>
          {% for ct in cat %}
          <option>{{ ct.name }}</option>
          {% endfor %}
        </select>
        <input id="search" type="text" placeholder="  Search" onkeyup="searchOpen()" name="search" {% if search %} value="{{ search }}" {% endif %}>
        <div onClick="document.forms['search-form'].submit();" class="search-lens fas fa-search"></div>
        <div class="large-screen ml-5">
          <a href="#" id="">Best selers</a> |
          <a href="#" id="">Most sold products</a> |
          <a href="#" id="">Top rated</a>
        </div>
      </nav>
    </form>
    <!-- nav end -->
    <!-- categories -->
    <p class="heading ml-4 mt-1" style="font-size:1.2rem">Categories</p>
    <div id="categories" class="categories ml-1 pl-3">
      <div class="category">
        <div class="cat-img-sec">
          <img class="cat-img gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
          <a href="/" >
          <img class="cat-img" style="display: none;"
            src="https://www.presimax.online/media/images/PicsArt_07-09-10.36.46.jpg"></a>
          <p class="cat-cap">All</p>
        </div>
      </div>
      {% for ct in cat %}
      <div class="category">      
        <img class="cat-img gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
        <a href="{{ ct.get_absolute_url }}" >
        <img class="cat-img" style="display: none;" src="{{ct.image.url}}"></a>
        <p class="cat-cap">{{ ct.name }}</p>
      </div>
      {% endfor %}
    </div>
    <!-- categories -->
    <!-- car start -->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
      <ol class="carousel-indicators" style="dislplay:none">
        <li data-target="#carousel" style="dislplay:none" data-slide-to="0" class="active"></li>
        {% for item in ctop|slice:"1:" %}
        <li data-target="#carousel" style="dislplay:none" data-slide-to="{{ forloop.counter }}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a href="{{ ctop.0.urlf }}">
            <picture>
              <source srcset="{{ ctop.0.img.url }}" media="(min-width: 1400px)">
              <source srcset="{{ ctop.0.img.url }}" media="(min-width: 769px)">
              <source srcset="{{ ctop.0.img.url }}" media="(min-width: 577px)">
              <img srcset="{{ ctop.0.img.url }}" alt="responsive image" class="d-block img-fluid">
            </picture>

            <div class="carousel-caption">
              <div>
                <h2>{{ ctop.0.head }}</h2>
                <p>{{ ctop.0.des }}</p>
              </div>
            </div>
          </a>
        </div>

        {% for item1 in ctop|slice:"1:" %}
        <div class="carousel-item">
          <a href="{{ item1.urlf }}">
            <picture>
              <source srcset="{{ item1.img.url }}" media="(min-width: 1400px)">
              <source srcset="{{ item1.img.url }}" media="(min-width: 769px)">
              <source srcset="{{ item1.img.url }}" media="(min-width: 577px)">
              <img srcset="{{ item1.img.url }}" alt="responsive image" class="d-block img-responsive img-fluid">
            </picture>

            <div class="carousel-caption justify-content-center align-items-center">
              <div>
                <h2>{{ item1.head }}</h2>
                <p>{{ item1.des }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- car end -->    
    <!-- dod deals -->
    <section class="deals">
      <a href="{% url 'core:sales' deals_of_day.0.sale_name %}">
      <span style="float:right;color:#ff8c00" class="bx bx-chevron-right-circle bx-md mr-2"></span>
      <h3 class="heading m-2"> Delight Ustav Sales </h3>      
      </a>       
      <div class="products">
        {% for item in deals_of_day.0.item.all|slice:"0:12" %}
        <div data-aos="flip-up" class="item">
          <div class="item-image">
            <img class="c1 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <img src="{{ item.image.url }}" style="display: none;" class="c1 image-fluid" alt="product-image">
            <span class="tag">{{ item.tag }}</span>
            <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            <div class="item-details-overlay">
              <center>
                <p class="h2">{{item.get_category_display|truncatechars:15}}</p>
                <p class="h2">{{item.title|truncatechars:7}}@ &#8377;{% if request.user.userprofile.Isclubmem %}
                  {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}
                </p>
                <a href="{{ item.get_absolute_url }}">
                  <p class="button-details">View details ></p>
                </a>
              </center>  
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <!-- dod deals -->
     <!-- posters -->
    {% if poster.0 %}
    {% if not poster.0.display == "N" %}
    <div class="poster-sec">
      <a href="{{ poster.0.urlf }}"><img class="poster" src="{{ poster.0.image.url }}" alt="Poster"></a>
    </div>
    {% endif %} 
    {% endif %}
    <!-- posters -->
     
    
    <!-- deals -->
    <section class="deals">
      <h3 class="heading m-2"> New Arrivals </h3>
      <div class="products">
        {% for item in object_list %}
        <div data-aos="zoom-in" class="item">
          <div class="item-image">
            <img class="c1 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <img src="{{ item.image.url }}" style="display: none;" class="c1 image-fluid" alt="product-image">
            <span class="tag">{{ item.tag }}</span>
            <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            <div class="item-details-overlay">
              <center>
                <p class="h2">{{item.get_category_display|truncatechars:7}}</p>
                <p class="h2">{{item.title|truncatechars:7}}@ &#8377;{% if request.user.userprofile.Isclubmem %}
                  {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}
                </p>
                <a href="{{ item.get_absolute_url }}">
                  <p class="button-details">View details ></p>
                </a>
              </center>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <!-- deals -->          
    <!-- posters -->
    {% if poster.1 %}
    {% if not poster.1.display == "N" %}
    <div class="poster-sec">
      <a href="{{ poster.1.urlf }}"><img class="poster" src="{{ poster.1.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->    
    
    <!-- highlights -->
    {% if sp1_s or sp2_s or sp3_s %}
    <center>
      <p class="heading">Special Deals</p>
    </center>
    {% if sp1 %}
    <div class="three-special-deals p-1">
      <div class="special-deal p-3">
        <p class="heading dark-mode">{{ sp1.sale_name }}</p>
        <div class="grid-4x4">
          {% for item in sp1.item.all %}
          {% if forloop.counter < 5 %}
          <div data-aos="flip-down" class="rep-products hover-up">
            <a href="{{ item.get_absolute_url }}"><img class="c3 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <img class="c3" style="display: none;" src="{{ item.image.url }}" alt="prod-img">
            <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            <p class="des p-1 dark-mode">{{item.title|truncatechars:15}} - {{ item.description|truncatechars:30 }}</p></a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="special-deal-end">
          <hr>
          <a href="{{ sp1.get_absolute_url }}" class="dark-mode" style='float:right'>See More ></a>
        </div>
      </div>
      {% endif %}
      {% if sp2 %}
      <div class="special-deal p-3">
        <p class="heading dark-mode">{{ sp2.sale_name }}</p>
        <div class="grid-4x4">
          {% for item in sp2.item.all %}
          {% if forloop.counter < 5 %}
          <div data-aos="flip-down" class="rep-products hover-up">
            <a href="{{ item.get_absolute_url }}"><img class="c3 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <img class="c3" style="display: none;" src="{{ item.image.url }}" alt="prod-img">
            <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            <p class="des p-1 dark-mode">{{item.title|truncatechars:15}} - {{ item.description|truncatechars:30 }}</p></a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="special-deal-end dark-mode">
          <hr>
          <a href="{{ sp2.get_absolute_url }}" style='float:right'>See More ></a>
        </div>
      </div>
      {% endif %}
      {% if sp3 %}
      <div class="special-deal p-3">
        <p class="heading dark-mode">{{ sp3.sale_name }}</p>
        <div class="grid-4x4">
          {% for item in sp3.item.all %}
          {% if forloop.counter < 5 %}
          <div data-aos="flip-down" class="rep-products hover-up">
            <a href="{{ item.get_absolute_url }}"><img class="c3 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <img class="c3" style="display: none;" src="{{ item.image.url }}" alt="prod-img">
            <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            <p class="des dark-mode p-1">{{item.title|truncatechars:15}} - {{ item.description|truncatechars:30 }}</p>
          </div></a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="special-deal-end dark-mode">
          <hr>
          <a href="{{ sp3.get_absolute_url }}" style='float:right'>See More ></a>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    <!-- highlights -->
    <!-- posters -->
    {% if poster.2 %}
    {% if not poster.2.display == "N" %}
    <div class="poster-sec">
      <a href="{{ poster.2.urlf }}"><img class="poster" src="{{ poster.2.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->        
    <!-- best main deals -->
    <div class="main-deals">
      <h3 class="heading m-2"> Bestselling Products </h3>
      <div class="products">
        {% for item in Bestsellers %}
        <div data-aos="zoom-out" class="main-deal-product">
          <a href="{{ item.get_absolute_url }}">
            <div class="main-deal-product-image">
              <img class="c2 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
              <img class="c2" style="display: none;" src="{{ item.image.url }}" alt="prod-img">
              <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
          </a>
          <center>
            <span class="h2 presimax-color">{{item.get_category_display|truncatechars:7}}</span><br>
            <a href="{{ item.get_absolute_url }}"><span class="h2 dark-mode">{{item.title|truncatechars:7}} @
                &#8377;{% if request.user.userprofile.Isclubmem %}
                {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}</span></a><br>
          </center>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
    <!-- best main deals -->
     <!-- posters -->
    {% if poster.3 %}
    {% if not poster.3.display == "N" %}
    <div class="poster-sec">
      <a href="{{ poster.3.urlf }}"><img class="poster" src="{{ poster.3.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->
      
    <!-- sunday sale -->
    {% if sunday_status %}
    <div class="sunday-sale">
      <a href="{% url 'core:sales' sunday_sale.0.sale_name %}">
      <span style="float:right;color:#ff8c00" class="bx bx-chevron-right-circle bx-md mr-2"></span>
      <h3 class="heading m-2"> Sunday Sale </h3>      
      </a>      
      <div class="products">
        {% for item in sunday_sale.0.item.all %}
        {% if forloop.counter < 12 %}
        <div  data-aos="flip-right" class="item">
          <div class="item-image">
            <img class="c1 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <img src="{{ item.image.url }}" class="c1 image-fluid" style="display: none;" alt="product-image">
            <span class="tag">{{ item.tag }}</span>
            <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            <center class="dark-mode">
              <span>&#8377;{% if request.user.userprofile.Isclubmem %}
                {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}
                @ ends in {{ sunday_sale.0.end|naturaltime }}</span>
            </center>
            <div class="item-details-overlay">
              <center>
                <p class="h2">{{item.get_category_display|truncatechars:7}}</p>
                <p class="h2">{{item.title|truncatechars:7}}@ &#8377;{% if request.user.userprofile.Isclubmem %}
                  {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}
                </p>
                <a href="{{ item.get_absolute_url }}">
                  <p class="button-details">View details ></p>
                </a>
              </center>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- sunday sale -->
    
    <!-- posters -->
    {% if poster.4 %}
    {% if not poster.4.display == "N" %}
    <div class="poster-sec">
      <a href="{{ poster.4.urlf }}"><img class="poster" src="{{ poster.4.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->
        
    
    <!-- flashsale -->
    {% if fsale %}
    <div class="flashsale">
      <a href="{% url 'core:sales' flash_sale.0.sale_name %}">
      <span style="float:right;color:#ff8c00" class="bx bx-chevron-right-circle bx-md mr-2"></span>
      <p class="heading m-2">Flashsale</p>      
      </a>
      <div class="falshsale-products">
        <div class="products">
          {% for item in flash_sale.0.item.all %}
          {% if forloop.counter < 12 %}
          <div data-aos="flip-left" class="main-deal-product">
            <a href="{{ item.get_absolute_url }}">
              <div class="main-deal-product-image">
                <img class="c2 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
                <img class="c2" src="{{ item.image.url }}" style="display: none;" alt="prod-image">
                <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            </a>
            <center class="dark-mode">
              <span class="h2 presimax-color">{{item.get_category_display|truncatechars:7}}</span><br>
              <a href="{{ item.get_absolute_url }}"><span>{{item.title|truncatechars:7}} @
                  &#8377;{% if request.user.userprofile.Isclubmem %}
                  {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}</span></a><br>
              <span class="ftime" >ends in {{ flash_sale.0.end|naturaltime }}</span>
            </center>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    </div>
    {% endif %}
    <!-- flashsale -->
    
    
    <!-- posters -->
    {% if poster.5 %}
    {% if not poster.5.display == "N" %}
    <div class="poster-sec">
      <a href="{{ poster.5.urlf }}"><img class="poster" src="{{ poster.5.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->
       
    
    <!-- DoW sale -->
    <div class="sunday-sale">
      <a href="{% url 'core:sales' Deals_of_week.0.sale_name %}">
      <span style="float:right;color:#ff8c00" class="bx bx-chevron-right-circle bx-md mr-2"></span>
      <h3 class="heading m-2"> Deals of Week </h3>      
      </a>      
      <div class="products">
        {% for item in Deals_of_week.0.item.all %}
        {% if forloop.counter < 12 %}
        <div data-aos="zoom-in" class="item">
          <div class="item-image">
            <img class="c1 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <img src="{{ item.image.url }}" class="c1 image-fluid" style="display: none;" alt="product-image">
            <span class="tag">{{ item.tag }}</span>
            <span class="discount">{{item.dis_per|floatformat:"0"}}%<br>off</span>
            <center class="dark-mode">
              <span>&#8377;{% if request.user.userprofile.Isclubmem %}
                {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}</span>
            </center>
            <div class="item-details-overlay">
              <center>
                <p class="h2">{{item.get_category_display|truncatechars:7}}</p>
                <p class="h2">{{item.title|truncatechars:7}}@ &#8377;{% if request.user.userprofile.Isclubmem %}
                  {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}
                </p>
                <a href="{{ item.get_absolute_url }}">
                  <p class="button-details">View details ></p>
                </a>
              </center>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- DoW sale -->
    
    
     <!-- posters -->
    {% if poster.6 %}
    {% if not poster.6.display == "N" %}
    <div class="poster-sec">
      <a href="{{ poster.6.urlf }}"><img class="poster" src="{{ poster.6.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->
    <!-- posters -->
    {% if poster.7 %}
    {% if not poster.7.display == "N" %}
    <div class="poster-sec mb-2 ">
      <a href="{{ poster.7.urlf }}"><img class="poster" src="{{ poster.7.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->
    <!-- posters -->
    {% if poster.8 %}
    {% if not poster.8.display == "N" %}
    <div class="poster-sec mb-2">
      <a href="{{ poster.8.urlf }}"><img class="poster" src="{{ poster.8.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters -->
    <!-- posters -->
    {% if poster.9 %}
    {% if not poster.9.display == "N" %}
    <div class="poster-sec mb-2">
      <a href="{{ poster.9.urlf }}"><img class="poster" src="{{ poster.9.image.url }}" alt="Poster"></a>
    </div>
    {% endif %}
    {% endif %}
    <!-- posters --> 
    <!-- great discounts -->
    <div class="great-dis-sec p-1" style="margin-bottom: 5rem;">
      <a href="{% url 'core:sales' great_discounts.0.sale_name %}">
      <span style="float:right;color:#ff8c00" class="bx bx-chevron-right-circle bx-md mr-2"></span>
      <p class="heading m-2">Great Discounts</p>      
      </a>        
      <div class="great-dis-prods">
        {% for item in great_discounts.0.item.all %}
        {% if forloop.counter < 12 %}
        <div data-aos="zoom-in" class="product-hor">
          <div class="hor-prod-img">
            <img class="c4 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <a href="{{ item.get_absolute_url }}"><img class="c4" src="{{ item.image.url }}" style="display: none;"
                alt="prod-image"><a href="{{ item.get_absolute_url }}">
                <span class="great-tag">{{ item.tag }}</span>
              </a>
          </div>
          <div class="hor-prod-details">
            <p class="h2 presimax-color">{{item.get_category_display|truncatechars:10}}</p>
            <a href="{{ item.get_absolute_url }}" class="dark-mode">
              <p class="h2">{{item.title|truncatechars:7}}<br>@ &#8377;{% if request.user.userprofile.Isclubmem %}
                {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}
              </p>
              <p class="button-details">View details</p>
            </a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div style="margin-top: 5rem;"></div>    
    <!-- great discounts -->

<style>
  .overlay-notif{
    position: fixed;  
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1700;
    justify-content:space-around;
    align-items:center;
  }
  .notif-img{
    width: 5rem;
    height: 5rem;
    margin:auto;    
  }
  .total-notif{
    background:#fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: .5rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:80vw;
    color:#ff8c00 !important;
  }
  .pre-notif{  
    border-bottom: .01rem solid #dcdcdc;
  }
  .notification{
    display: flex;
    flex-direction: row;        
  }
  .btn-notif{
    background:#fff;
    color:#ff8c00;
    padding: 0.1rem;
    margin: 0.5rem auto; 
  }
  
@media only screen and (min-width: 600px) { 
.total-notif{
width:40vw;
}
}
  
</style>
{% if request.user.is_authenticated %}
{% notifications request request.user.id as notifs %}
{% else %}
{% notifications request "-1" as notifs %}
{% endif %}
{% if notifs %}
<div class="overlay-notif">
{% for note in notifs %}
  <div id="{{ forloop.counter }}_note" class="total-notif rounded">
  <div class="pre-notif">
  <span style="float: right;color:#ff8c00;cursor:pointer;" onclick="notif('#{{ forloop.counter }}_note')" class="mr-3 bx bx-x bx-sm" ></span>
  <span style="display: inline-block;background:#ff8c00;width:20px;height:20px;" class="rounded"></span>
  <span  class="ml-2" >Presimax</span>
  </div>
  <div class="notification p-2">    
    <div class="img-sec pt-3 pb-3 pl-2 pr-2">      
      <img class="notif-img" src="{{ note.image.url }}" alt="image">
    </div>
    <div class="details pt-3 pb-3">
      <strong><span>{{ note.title }}</span></strong><br>
      <span>{{ note.description }}</span><br>
      {% for btn in note.buttons.all %}
      <a href="{{ btn.url }}"><span class="btn-notif">{{ btn.name }}</span></a>
      {% endfor %}
    </div>
  </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
    {% include 'navbar.html' %}
  </main>
  {% include "scripts.html" %}
  <script>
    {% if pbc %}
    document.documentElement.style.setProperty('--product-back', '{{ pbc.color }}');
    document.documentElement.style.setProperty('--presimax-black', '{{ pbc.font_color }}');
    document.documentElement.style.setProperty('--presimax-white-orange', '{{ pbc.category_font_color }}');
    {% endif %}
  </script>
  <script>
    {% if bbi %}
    $(".bg").css("background-image", "url('{{ bbi.image.url }}')");
    document.documentElement.style.setProperty('--presimax-body-color', '{{ bbi.font_color }}');
    {% endif %}
  </script>
  <script>
    $('.item').on('click', function () {
      $('.item').not(this).find('.item-details-overlay').hide();
      $(this).find('.item-details-overlay').toggle();
    })
  </script>
  <script>
    $(document).ready(function () {
      console.log("ready!");
      $('img').not('.poster').not('.notif-img').not('.logo-image').toggle();
    });
  </script>
  <script>
    $('#aball').on('click', function () {
      $('.ball-clicked').toggle();
    })
  </script>  
  <script>
    $(document).ready(function () {
      $('.toast').toast('show')
    });
  </script>
<script type="application/javascript" src="https://sdki.truepush.com/sdk/v2.0.2/app.js" async></script>
<script>
var truepush = window.truepush || [];
truepush.push(function(){
    truepush.Init({
        id: "5fa8a3e837c48ff1fb6225ae"
        }, function(error){
          if(error) console.error(error);
        })
    })
</script>
<script>
function notif(id){
$(id).toggle();
if(id=="#1_note"){
$('.overlay-notif').toggle();
}
}
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
body .ui-autocomplete {
  background:#fff;
  color:#000;
  width:min-content;
}
li{
list-style:none;
}
body .ui-autocomplete .ui-menu-item .ui-corner-all {
   background:#fff;
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
   background:#fff;
}
</style>
<script>


function searchOpen() {
url = "{% url 'core:auto' %}"
var search = $('#search').val()
var csrftoken = '{{ csrf_token }}';
$.get(url,{ search:search,csrfmiddlewaretoken:csrftoken }).done(function( data ) {
                console.log( "Data Loaded: " + data );
               $( "#search" ).autocomplete ({
        source: data
    });
                });
}                
</script>
</body>

</html>