{% load static %}

{% block head_title %}PRESIMAX{% endblock %}
{% load cart_template_tags %}
{% load myorders_template_tags %}

    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">


        <a class="navbar-brand waves-effect" href="{%url 'core:landing' %}">
          <strong class="gold-text text-center" style="color:orange"><img src="{% static 'img/plog.jpeg' %}" alt="PRESIMAX" width="122" height="42" style="vertical-align:middle"></strong>
        </a>


        <button class="navbar-toggler white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="margin-right:10px"></span>
        </button>

        <div class="collapse navbar-collapse white" id="navbarSupportedContent">


          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-effect active" href="{%url 'core:home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'core:about' %}" class="nav-link waves-effect">About</a>
          </li>
            {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
             Hi, {{ user.username }} 
            </a>
          </li>
          <li class="nav-item" >
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart" style="color:#f2994b"></i>
               Cart 
            </a>
          </li>
          <li class="nav-item" >
            <a href="{% url 'core:myorders' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1">{{ request.user|myorder_item_count }}</span>
              <i class="far fa-list-alt" style="color:#63e0ff"></i>
               My Orders 
            </a>
          </li>
          <li class="nav-item" >
            <a href="{% url 'core:Profile' %}" class="nav-link waves-effect">
              <!--<span class="badge red z-depth-1 mr-1"></span>-->
              <i class="far fa-edit" style="color:#ebe657"></i>
              My Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'core:club' %}">
              Club
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
               Logout 
            </a>
          </li>
          <li class="nav-item">
          {% ifequal request.user.userprofile.paid_amt "250" %}
            <a href="/clubpayment/" class="logo-wrapper waves-effect btn btn-info btn-sm" >
            <i class="fas fa-award mr-3" style="color:#D4AF37"> Upgrade to Premium</i>
            </a>
          {% endifequal %}
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              Login 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              Signup 
            </a>
          </li>
          {% endif %}
          </ul>
        </div>

      </div>
    </nav>
