{% load static %}
{% load cart_template_tags %}
{% load myorders_template_tags %}
<style>
  .bottom-nav-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    font-size: 2rem;
    font-weight: 100;
    background-color: #fff;
    color:#636c77;   
    z-index: 1030; 
  }
  span:hover{
    color: var(--presimax-brand-color);        
  }
  .holder{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  nav>a>{
    display: inline;
    max-width: 2rem;
    height: min-content;
    text-align: center;        
  }  
  .caption{    
    font-size: .378em;
    font-weight: 300;
  }
@media only screen and (min-width: 600px) {
  .bottom-nav-fixed{
    padding-left: 15%;
    padding-right: 17%;
  }
}
</style>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<nav class="bottom-nav-fixed">
    {%url 'core:home' as home %}
    <a href="{{ home }}" {% ifequal request.path home %} style="color:var(--presimax-brand-color)" {% endifequal %} ><div class="holder" >      
      <span class="bx bx-home-alt" > </span>
      <span class="caption" >Home</span>
    </div></a>       
    <!-- <a href="{{ home }}" >       
    <div class="holder" >      
      <span class="bx bx-store" > </span>
      <span class="caption" >Store</span>
    </div></a>  -->
    {%url 'core:club' as club %}
    <a href="{{ club }}" {% ifequal request.path club %} style="color:var(--presimax-brand-color)" {% endifequal %} >    
    <div class="holder" >      
      <span class="bx bx-group" > </span>
      <span class="caption" >Club</span></div></a>
    {%url 'core:home' as home %}
    <a href="{{ home }}#categories"  >    
    <div class="holder" >      
      <span class="bx bx-category" > </span>
      <span class="caption" >Categories</span></div></a>
    {%url 'core:home' as travels %}
    <a href="{{ travels }}"  >    
    <div class="holder" >      
      <span class="bx bxs-directions" > </span>
      <span class="caption" >Travels</span></div></a>
    {% if not request.user.is_authenticated %}    
    <a href="{% url 'account_login' %}" {% ifequal request.path account_login %} style="color:var(--presimax-brand-color)" {% endifequal %} >       
    <div class="holder" >      
      <span class="bx bx-log-in" > </span>
      <span class="caption" >Log In</span></div></a>
    {% else %}
    {%url 'core:Profile' as Profile %}
    <a href="{{ Profile }}" {% ifequal request.path Profile %} style="color:var(--presimax-brand-color)" {% endifequal %} >             
    <div class="holder" >      
      <span class="bx bx-user" > </span>
      <span class="caption" >Profile</span></div></a>
    {% endif %}
</nav>