{% extends "base.html" %}
{% load static %}
{% load cart_template_tags %}
{% load myorders_template_tags %}
{% load reviews_template_tags %}
{% block content %}
{% include 'nav.html' %}
<title>My Shopping cart | Presimax</title>
<link rel="stylesheet" href="{% static 'css/ordersummary.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<main>
<nav class="order-nav m-2 p-2" style="margin-top:0rem" >    
    <center>
      <a href="{% url 'core:order-summary' %}"><span class='bx bx-basket' style="color: #ff8c00;"> - - <span class="large-screen"> - - - - - - </span> </span></a>
      <a href="/checkout/"> <span class='bx bx-package' > - - <span class="large-screen"> - - - - - - </span> </span></a>
      <span class='bx bx-receipt'> </span>
      </center>
</nav>
<!-- order details -->
<div class="order-summary m-2 p-2">
<!-- odered products -->
<div class="great-dis-sec m-1">    
    <!-- <div class="heading ml-1 mt-1 mb-2"><span class="p-1">Shopping cart</span></div></center> -->
        <div class="great-dis-prods">
        {% for item in object.items.all %}
        <div class="product-hor">
            <div class="hor-prod-img">
            <img class="c4 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
            <a href="{{ item.item.get_absolute_url }}"><img class="c4 prod-img" src="{{ item.item.image.url }}" style="display: none;"
                alt="prod-image"><a href="{{ item.item.get_absolute_url }}">
                <span class="great-tag">{{ item.item.tag }}</span></a>                
            </div>
            <div class="hor-prod-details pt-3 pl-1 pr-1 pb-1">
            <strong><b>            
            <span>{{item.item.get_category_display}}</span><br>
                {{item.item.title|truncatechars:15}}<br></b></strong>
            {% url 'core:refer-buynow' referid object.slug as buy_now %}  
            <span class="small-font">
            {% if item.item.has_size %}
            <div class="size pp">
              <label for="size">Size</label>
              <select id="size_{{ forloop.counter }}" name="size" class="fc">                
                {% for size in item.item.size.sizes_choice %}
                {% if item.size == size %}
                <option value="{{ size }}"  selected="selected">{{ size }}</option>
                {% else %}
                <option value="{{ size }}" >{{ size }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <br>
            <div class="quantity pp">
              <p>Quantity</p>
              <div class="product-count">
                {% url 'core:remove-single-item-from-cart' item.item.slug as remove_item %}
                {% url 'core:add-to-cart' item.item.slug as add_item%}
                <div onclick="decrease_qty('{{remove_item}}','{{ forloop.counter }}')" class="qtyminus qt">-</div>
                <input type="text" name="quantity" id="qty_{{ forloop.counter }}" value="{{ item.quantity }}" class="qty qt">
                <div onclick="increase_qty('{{ add_item }}','{{ forloop.counter }}')" class="qtyplus qt">+</div>
              </div>
            </div>    
            </span>   
            <br> 
            <span>                
                <br> &#8377;{{ item.price|floatformat:"0" }}<del class="ml-1"> &#8377;{{item.mrp_price|floatformat:"0"}} </del> </span>
                <span class="ml-2" style="color: tomato;float:right;">{{item.item.dis_per|floatformat:"0"}}% off</span>
                <br><span class="small-font">Including Shipping charges</span>
                <br>&#8377;{{ item.price_inc_ship|floatformat:"0" }}<br><strong><b><span class="ml-1">You saved {{item.get_amount_saved}}</span></b></strong>
            </div>            
        </div>    
        <script>
        function decrease_qty(url,id){
            var size = $('#size_'+id).val();                        
            var csrftoken = '{{ csrf_token }}';
            var qty = parseInt($('#qty_'+id).val());
            $('#qty_'+id).html(qty - 1);
            $('#qty_'+id).val(qty - 1); 
            //alert(qty);
            qty=qty-1; 
            //alert(qty);                      
            $.post(url,{ size:size,quantity:qty,csrfmiddlewaretoken:csrftoken }).done(function( data ) {
                console.log( "Data Loaded: " + data );
               $('#qty_'+id).load(window.location.href + '#qty_'+id );
                });
        }
        function increase_qty(url,id){
            var size = $('#size_'+id).val();                        
            var csrftoken = '{{ csrf_token }}';
            var qty = parseInt($('#qty_'+id).val());
            $('#qty_'+id).html(qty + 1);
            $('#qty_'+id).val(qty + 1); 
            //alert(qty);
            qty=qty+1; 
            //alert(qty);                      
            $.post(url,{ size:size,quantity:qty,csrfmiddlewaretoken:csrftoken }).done(function( data ) {
                console.log( "Data Loaded: " + data );
              });
        }
        </script>      
        <div class="details-footer mb-2 pt-1">            
            <a class="delete" style='color: tomato;' href="{% url 'core:remove-from-cart' item.item.slug %}"><span class="bx bx-trash-alt" style="font-size: 1.7rem;"></span></a>
            <a class="buy" href="{{ buy_now }}" class="dark-mode">Buy Now</a>
        </div>      
        {% endfor %}
        </div>
    </div>    
    <!-- great discounts -->
<div class="final-bill p-2" style="margin-top:-0.02rem" > 
    <div class="total-bill"> <span class="heading m-2 ml-1" >Price Breakdown </span> <span class="mr-3" style="float:right">( {{ request.user|cart_item_count }} items )</div>       
    <div class="bill-details p-3 m-1">
        <div class="price m-1">
            <span class="price-title" >Total MRP </span>
            <span class="price-value"><b>&#8377;{{ object.get_total_mrp }}</b></span>
        </div>
        <br>
        <div class="price m-1">
            <span class="price-title" >Presimax price </span>
            <span class="price-value"><b>&#8377;{{ object.get_total }}</b></span>
        </div>
        <br>
        <div class="price m-1">
            <span class="price-title" >Total saved amount </span>
            <span class="price-value"><b>&#8377;{{ object.get_total_saved }}</b></span>
        </div>        
        {% if object.coupon %}
        <br>
        <div class="price m-1">
            <span class="price-title" >Coupon </span>
            <span class="price-value"><b>&#8377;{{ object.coupon.amount }}</b></span>
        </div>
        {% endif %}
        <br>
        <div class="price m-1">
            <span class="price-title" >Shipping charges </span>
            <span class="price-value"><b>&#8377;{{ object.get_total_ship }}</b></span>
        </div>
    </div>
    <br>
    <hr>
    <div class="total-bill"> <span class="heading m-2 ml-1" >Total </span> <span class="mr-3" style="float:right">
        <strong><b>&#8377; {{ object.get_total }}</b></strong></div>
    <center>
    <hr>
    <a href="/checkout/" class="checkout-btn m-2 p-2">Place Order</a>
    </center>
</div>
</div>
<!-- order details -->
</main>
{% include 'navbar.html' %}
{% endblock content %}
{% block extra_scripts %}
<script>
    $(document).ready(function () {
        console.log("ready!");
        $('img').not('.logo-image').toggle();
    });
</script>

{% endblock extra_scripts %}