<center>
<h1>Privacy Policy</h1>
<strong>This agreement contains the complete terms and conditions that apply to an individual participant in "presimax". This website is operated by presimax. In our site the terms 'we', 'us' and 'our' refers to presimax. Presimax offers this website, including all information, tools and services available from this site to you. Conditioned upon your acceptance of all terms, conditions, policies and notices stated here.

By registering our site and or purchasing something from out presimax, you engage in our services and agree to be follow these terms and conditions. These terms and conditions applies to all users of the site, including without limitation users who are browsers, vendors, customers, merchants and contributors of content.

Please read these terms and conditions carefully before using our website. By using any part of our site you agree to be bound by these terms and conditions. If you do not agree to all these terms of this agreement, then you may not access the website or use any services. 

We reserve the right to update, change or replace any part of these terms and services by updating post or making any other changes. So we request you to keep in touch with updated news about these terms. 

</strong>
</center>
<hr>
<h1>Conditions :</h1>

<p><h1 style="color:red;">Note:</h1> <h2>All products are <strong style="color:red;">not</strong> made in India</h2></p><br>
*Parcel opening video is mandatory for refund..in case of damage<br>
*The offer cannot compared with another  provided on presimax.<br>
* By agreeing to these terms of service, you represent that you promised to strictly follow these conditions from your side. You cannot use our  products for illegal or unauthorized purpose or in the violence way.<br>

 * You should not duplicate, copy, sell or exploit any of our products of our company without proper permissions<br>

 * We will not ask you about personal information regarding your bank account only the required information is taken.so before providing information be careful or contact  our administrative officers once. Because we are not responsible for your mistake.<br>

 * The information provided in our website may be or may not be clear to your view because we provide only the basic information which is useful to everyone. So by this you cannot make bad impression on our site. <br>

 * We can't assure that the price of products will be constant. We may modify or change any kind of information or terms without your notice. We may change the price of products<br>
 without your notice based on availability or surroundings. <br>

 * Some of products may available exclusively online through our website. Those products may have limited quantities and you can exchange or return only according to our return policy. <br>

 * We cannot promise you that the colour of  product will be same in the online display. But we try our level best to maintain the good contrast.<br> 

 * We may refuse any order that you place because of some matter or any discomfort issue. <br>

 * By agreeing this you agree to provide complete and correct /accurate purchase and account information for all purchase made at our online store. You must update your account and other information including email address and credit card number so that if any queries or any information can be contacted easily. <br>

 * We  are not responsible for the third party issues. We shall have no liability whatsoever arrising from or relating to your use of optional third-party tools. <br>

 * We are not liable for any harm or damage related to use/ purchase of products or any other transactions made in connection with any third party websites. <br>

 * The comments which are given by you, we may  use or forward them for company development or any ideas may  also used without restriction. We take no responsibility and assume no liability for any comments posted by you or any third party.<br> 

 * The personal information you gave given to us is governed by our privacy policy. <br>

 * There may be some of error or inaccurate information in our website  but we reserve a right to recorrect / update the right information at anytime without notice. <br>

 * We may prohibit the some of the users because of their unlawful activities. We reserve the right to terminate your use of the service or any related website for violating any of the prohibited uses. <br>

 * We do not warrant that the Results that may be obtained from the use of the service will be accurate or reliable. <br>

 * These terms of service are effective unless and until terminated by either you or us. <br>

 * We may update any information in our website without notice. So be active with our page to get a better information. <br>

 * The club membership period is mentioned as per membership plans and we have authority to change the plans price and time period for new users. <br>

 * The club membership amount will not be refunded at any cost. 
 <br>
 * The position income is not constant at every month. <br>

 * The users are paid only 20 refers in a day. <br>

 * The team is alloted after reaching the subordinate captain designation. <br>

 * Downline income is only for products cash in orders. <br>

 * Replacement is taken for damage only if the user submit the vedio of opening the courier. <br>

 * The Cashback on products may be varied according to their price margin. <br>
*we wont provide cash back on all products. <br>
*The club discount price may changed.<br> 

*Downline income may be varied.<br>
*Admin team has right to change or stop some incomes in case of losses.<br> 

 * Taxes will be levied as per applicable laws.<br>