{% extends "base.html" %}

{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Open+Sans&display=swap');
</style> 
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          
          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
        
          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>
            <p class="lead">
                {{ object.title }}
            </p>
            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>Rs. {{ object.price }}</del><br>
              </span>
              <span><i class="fas fa-crown" style="color:#eec64f;">Rs. {{ object.club_discount_price }}</i></span><br>
              <span>Rs. {{ object.discount_price }}</span><br>
              {% else %}
              <span>Rs. {{ object.price }}</span>
              {% endif %}
            </p>
            
            {% if object.has_size %}
            <!-- Button trigger modal -->
            <form method="POST" action="." >
            {% csrf_token %}
                    {% for size in object.size.sizes_choice %}
                    <div class="custom-control custom-radio">
                        <div class="custom-control custom-radio">
                        <input id="{{ forloop.counter }}"  name="sizes_choice" value="{{ size }}" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="{{ forloop.counter }}">{{ size }}</label>
                      </div>
                    </div>
                    {% endfor %}
                    <button vlaue="Set" title="set" class="btn btn-success">Select</button>
            </form>
            {% endif %}
            
            <p class="lead font-weight-bold">Description</p>
            
            <p>{{ object.description }}</p>
            
            {% ifequal 'yes' hasdealer %}
            <p style="font-family: 'Grenze Gotisch';text-transform:uppercase" class="lead font-weight-bold">Dealer Name</p>
            
            <p style="font-family: 'Grenze Gotisch', cursive;">{{ itemd.name }}</p>
            {% endifequal %}
            
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      
      <hr>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      {% for item in object_list1 %}
      <div class="col-md-3" style="float:left">
        <div class="card rounded mb-2">

              <div class="view overlay" style="padding:2px">
                <img style="width:360px;height:360px" src="{{ item.image.url }}" class="card-img-top img-responsive rounded">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title|truncatechars:10 }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color">{{item.tag}}</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold black-text">
                  <strong>
                  {% if item.discount_price %}
                  <del>Rs. {{ item.price }}</del><br>
                  <i class="fas fa-crown" style="color:#eec64f;">Rs. {{ item.club_discount_price }}</i><br>
                  Rs. {{ item.discount_price }}
                  <span class="badge badge-pill danger-color">{{item.dis_per}}% off</span>
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>

            </div>

        </div>
        {% endfor %}
      </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      {% for item in object_list %}
      <div class="col-md-3" style="float:left">
        <div class="card rounded mb-2">

              <div class="view overlay" style="padding:2px">
                <img style="width:360px;height:360px" src="{{ item.image.url }}" class="card-img-top img-responsive rounded">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title|truncatechars:10 }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color">{{item.tag}}</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold black-text">
                  <strong>
                  {% if item.discount_price %}
                  <del>Rs. {{ item.price }}</del><br>
                  <i class="fas fa-crown" style="color:#eec64f;">Rs. {{ item.club_discount_price }}</i><br>
                  Rs. {{ item.discount_price }}
                  <span class="badge badge-pill danger-color">{{item.dis_per}}% off</span>
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>

            </div>

        </div>
        {% endfor %}
      </div>

    </div>
    <!--/.Second slide-->

   

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

{% block extra_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 <script language="javascript" type="text/javascript">
$(function () {
    $("#fileupload").change(function () {
        if (typeof (FileReader) != "undefined") {
            var dvPreview = $("#dvPreview");
            dvPreview.html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            $($(this)[0].files).each(function () {
                var file = $(this);
                if (regex.test(file[0].name.toLowerCase())) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:100px;width: 100px");
                        img.attr("src", e.target.result);
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                } else {
                    alert(file[0].name + " is not a valid image file.");
                    dvPreview.html("");
                    return false;
                }
            });
        } else {
            alert("This browser does not support HTML5 FileReader.");
        }
    });
});
function functionx(ths,sno){
$('#ratinginp').val(sno);
for (var i=1;i<=5;i++){
var cur=document.getElementById("star"+i)
cur.className="fa fa-star"
}

for (var i=1;i<=sno;i++){
var cur=document.getElementById("star"+i)
if(cur.className=="fa fa-star")
{
cur.className="fa fa-star checked"
}
}
}
</script>
{% endblock extra_scripts %}

<hr>

<div class="container">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form"> Add your Comment </button>
<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content pl-4">
          <form action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %}
<div class="card">
    <div class="row">
    {% if user.username.userphoto %}
        <div class="col-2"> <img src="{{ user.username.userphoto.url }}" width="70" class="rounded-circle mt-2"> </div>
        {% endif %}
        <div class="col-10">
            <div class="comment-box">
                <h4>Add a comment</h4>
                <div class="container">
                  <input id="ratinginp" type="hidden" name="rating" value="5">
                  <span value="1" class="fa fa-star rating" id="star1" onclick="functionx(this,1)"></span>
                  <span value="2" class="fa fa-star rating" id="star2" onclick="functionx(this,2)"></span>
                  <span value="3" class="fa fa-star rating" id="star3" onclick="functionx(this,3)"></span>
                  <span value="4" class="fa fa-star rating" id="star4" onclick="functionx(this,4)"></span>
                  <span value="5" class="fa fa-star rating" id="star5" onclick="functionx(this,5)"></span>
                </div>
                <div class="comment-area"> <textarea class="form-control" name="text" placeholder="what is your view?" rows="4"></textarea> </div
                <div class="text-center">
                    <div class="form-group">
                    <label for="comment">Add pictures:</label>
                    <input id="fileupload" name="imgs" type="file" multiple="multiple">
                    <b>Live Preview</b>
                    <br>
                    <br>
                    <div id="dvPreview"></div>
                    </div>
                <div class="comment-btns mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="pull-left"> <button class="btn btn-success btn-sm">Cancel</button> </div>
                        </div>
                        <div class="col-6">
                            <div class="pull-right"> <button type="submit" class="btn btn-success send btn-sm">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
        </div>
    </div>
</div>
</div>
<hr>
<div class="container mb-3">
  <h3 class="mr-5">Reviews:</h3>
  <h5>{{ comment }}</h5>
  {%for review in reviewsget%}
  <div class="card p-2 mb-1">
  <a class="logo-wrapper waves-effect" >
    {% if review.user.userprofile.userphoto %}
    <b><img src="{{ review.user.userprofile.userphoto.url }}"  style="border-radius: 50%;height: 30px;width: 30px;margin-right:10px;text-transform:capitalise">{% endif %}{{ review.user.username }} <span class="badge badge-pill danger-color mr-5" ><strong style="font-size:20px;">{{ review.rating }}/5</strong></span></a></b>
  {% if review.review %}
  <a href="#" class="list-group-item list-group-item-action waves-effect">
          <p class="mb-0">{{ review.review }}</p></a>{% endif %}
  <a href="#" class="list-group-item list-group-item-action waves-effect">
  {% if rimgs %}
  {% for image in rimgs %}
  {% ifequal review.id image.post.id %}
  <img src="{{image.images.url}}" class="ml-2" width="240px">
  {% endifequal %}
  {% endfor %}
  {% else %}
  <h6 class="ml-3">No images</h6>
  </a>
  {% endif %}
  </div>
  {% endfor %}
</div>
  </main>

{% endblock content %}