{% extends "base.html" %}
{%load static%}
{% block head_title %}PRESIMAX | Profile{% endblock %}
{% load cart_template_tags %}
{% load social_share %}
{% load myorders_template_tags %}
{% block extra_head %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock extra_head%}
{% block content %}
<main>
  <div style="margin-bottom: 5rem;"></div>
  <div class="profile p-3">
    <div class="pic-details">
    <form method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %}
     <div class="profile-pic-sec">
      {% if request.user.userprofile.userphoto %}
      <img class="profile-pic upload-button" src="{{ request.user.userprofile.userphoto.url }}" alt="profile-pic">
      {% else %}
      <img class="profile-pic upload-button" src="https://www.presimax.online/media/images/plogo_3.jpg" alt="profile-pic">
      {% endif %}
      <button onclick="javascript: form.action='{{ request.path }}';" class="bx bx-camera cam-btn"> <span class=""></span> </button>
     </form>
     </div>
      <div class="p-image">          
         <input style="display:none" class="file-upload" name="image" type="file" accept="image/*">         
      </div>
    </div>
    <center>
    <div class="user-details pt-2">
      <span class="u-n">{{ request.user.username }}</span><br>
      {% if not request.user.userprofile.phone_number == 'False'  %}
      <span class="u-p">{{ request.user.userprofile.phone_number }}</span>
      {% endif %}      
      <span id="email" style="display: flex;" class="u-p">{{ request.user.email|truncatechars:'18' }} <span onclick="edit_toggle()" style="color: #ff8c00;" class="ml-2 bx bx-pencil"></span> </span>
      <form action="." method="POST">
        {% csrf_token %}
      <span id="edit" style="display:none" class="mt-2 u-p" ><span style="display:flex" ><input type="text" name="email" id="email" class="fc" size="10" value="{{ request.user.email }}" tabindex="1"><button onclick="javascript: form.action='{{ request.path }}';" class="bx bx-check check-btn"></button></span></span></form>
    </div>  
  </center>  
  </div>
  <div class="cart-opts p-2">
    <div style="font-size: 1.4rem;" class="cart-details">
      <span>{{ request.user|cart_item_count  }}</span>
      <a href="{% url 'core:order-summary' %}"><span><span class="bx bx-cart"></span>Cart</span></a>
    </div>
    <div style="font-size: 1.4rem;" class="cart-details">
      <span>{{ request.user|myorder_item_count }}</span>
      <a href="{% url 'core:myorders' %}"><span><span class="bx bxs-shopping-bags"></span>My Orders</span></a>
    </div>
  </div>
  <center>
  <div class="two">
    <div class="user-opts p-2">
      <div class="option p-2">
        <a href="https://play.google.com/store/apps/details?id=com.presimax.neona"><span class="bx bx-like uoi mr-2"></span><span>Rate this App</span>
        <span></span></a>
      </div>    
      <div class="option p-2">
        {% post_to_whatsapp  share_url  "<span class='bx bxs-share-alt uoi mr-2'></span><span>Share</span>" %}
      </div>    
      <div class="option p-2">
        <a href="https://play.google.com/store/apps/details?id=com.presimax.neona"><span class="bx bxl-play-store uoi mr-2"></span><span>Download App</span></a>
      </div>
      <div class="option p-2">
        <a href="https://wa.me/message/H2GOGJXS44NHK1"><span class="bx bxl-whatsapp uoi mr-2"></span><span>Contact us</span></a>
      </div>
      <div class="option p-2">
        <a href="{% url 'core:about' %}"><span class="bx bx-info-circle uoi mr-2"></span><span>About Us</span></a>
      </div>
      <div class="option p-2">
        <span class="bx bx-money uoi mr-2"></span><span>Become seller</span>
      </div>           
      <div onclick="overlay()" class="option small-screen p-2">
        <span class="bx bx-scan uoi small-screen mr-2" ></span><span>Scan to chat</span>
        <center>
        <div class="overlay" style="z-index:1500">
          <span style="float: right;color:#fff;cursor:pointer;z-index:1500" class="mr-3 bx bx-x fa-3x" ></span><br>
          <img style="bottom:10rem;z-index:1500" src="https://www.presimax.online/media/images/WhatsApp_Image_2020-11-04_at_19.04.03.jpeg" alt="whatsapp">
          <div style="margin-top: 6rem;" ></div>
        </div>        
      </center>
      </div>   
      <center>
        <div class="option mt-1 mb-1 p-2">
          <a href="{% url 'account_logout' %}"><span style="text-align: center;color:tomato;"> Sign Out </span>
        </div>
        <div style="margin-top: 6rem;" ></div>
      </center>          
    </div>
    <div class="large-screen">
      <img class="whats-scan" src="https://www.presimax.online/media/images/WhatsApp_Image_2020-11-04_at_19.04.03.jpeg" alt="whatsapp">
    </div>    
  </div>  
</center>
</main>
{% endblock content %}
{% block extra_scripts %}
<script>
$(document).ready(function() {
  var readURL = function(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('.profile-pic').attr('src', e.target.result);
          }
  reader.readAsDataURL(input.files[0]);}}   
$(".file-upload").on('change', function(){
    readURL(this);
});

$(".upload-button").on('click', function() {
    $(".file-upload").click();
});
});
</script>
<script>
function overlay(){  
  $('.overlay').toggle();  
}
function edit_toggle(){
  $('#email').toggle();
  $('#edit').toggle();
}
</script>
{% endblock extra_scripts %}