{% load static %}
{% load similar_prod %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;500;600&family=Raleway:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');
:root{
    --presimax-brand-color:  #ff8c00;
    --presimax-brand-light-color:  #ff8c00;
    --presimax-font-1: 'Playfair Display', serif;
    --presimax-font-2: 'Raleway', sans-serif;
    --presimax-font-3: 'Comfortaa', cursive;        
    --link-color: #0099CC;
    --presimax-silver: #C0C0C0;
    --presimax-light-white: #DCDCDC;
    --presimax-black: #0b0704;
    --presimax-white: #f8f9f5;
    --product-back-ex: #f8f9f5;
    --product-back: #fdde6c;
    --presimax-white-orange: #fdf9ef;
    --presimax-tag-opacity: .7;
    --end: -95%;
}
.fas,.far,.fa{
    font-weight: 600;
}
.presimax-color{
    color: var(--presimax-white-orange);
}
body{
    color: var(--presimax-body-color);
    font-family: var(--presimax-font-2);   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    width: 97vw !important;
    margin: auto;
  }
.dark-mode{
    font-weight: 400;
    color: var(--presimax-black);
}
.heading, .h2, .h3{
    text-transform: capitalize;
    font-weight: 400;    
    font-size: 1.3rem;
    font-family: var(--presimax-font-3) !important;
}
.h2{
    font-family: var(--presimax-font-2) !important;
    font-size: 1.2rem !important;
}
.h3{
    font-family: var(--presimax-font-2) !important;
    font-size: 16px !important;
}
.c1{
    width:115px;
    height:145px;    
    transition: all 0.2s ease-in-out !important;    
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.item{
    padding: .2rem;
    background: var(--product-back-ex);
}
.products{
    display: flex;
    overflow-x: auto;
    flex-direction: row;    
}    
.flash-prod{
    display: flex;    
    flex-direction: row; 
    overflow-x: auto;
}
.item{
    margin: 1%;
}
.item-image{
    position: relative; 
    overflow: hidden;   
}
.item-image:hover{
    position: relative; 
    overflow: hidden;   
    transform: translateY(-5px);
}
.tag{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    color: #fff;
    font-size:.78rem;
    padding-top: .15em;
    padding-left: .5em;
    padding-bottom: .15em;
    padding-right: 1.5em;
    background: linear-gradient(115deg, #ff8c00 80%, transparent 80%);
    float: left;
    opacity: var(--presimax-tag-opacity);
}
.discount{
    position: absolute;
    top: -30px;
    right: -30px;
    color: #fff;    
    background: var(--presimax-brand-color);
    float: right;
    padding-top: 1.95rem;
    padding-right: 1em;
    white-space: pre;
    border-radius: 50%;
    width: 4.8em;
    height: 4.8em;
    font-size:.9rem;
    text-align: center;
    opacity: var(--presimax-tag-opacity);
}
a{
    color: inherit;
}
.item-details-overlay{
    display: none;
    color:#000;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: .5em;
    background:rgb(253, 249, 239,0.7);
}
.item-details-overlay>.heading{
    font-size: 1.2em;
}
.button-details{    
    background: #fff;
    color: #000;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    transition: all 0.5s ease-in-out 0s;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    width: 85%;
}

</style>
<section class="deals p-3">
  <h3 class="heading"> Similar Products </h3>
  <div class="products">
    {% for item in smp %}
    <div  class="item">
      <div class="item-image">
        <a href="{{ item.get_absolute_url }}"><img class="c1 gif-img" src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="loading">
        <img src="{{ item.image.url }}" style="display: none;" class="c1 image-fluid" alt="product-image">
        <center>
        <p class="h2">&#8377;{% if request.user.userprofile.Isclubmem %}
              {{ item.club_discount_price|floatformat:"0" }}{% else %}{{item.discount_price|floatformat:"0"}}{% endif %}</p></a>
        </center>                  
      </div>
    </div>
    {% endfor %}
  </div>
</section>
