  <main>
    <div class="container">
      <section class="text-center mb-4">

        <div class="row wow fadeIn">

          {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">

            <div class="card" style="border:solid 2px orange">

              <div class="view overlay">
                <img src="{{ item.image.url }}" class="card-img-top">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color">{{item.tag}}</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold black-text">
                  <strong>
                  {% if item.discount_price %}
                  <del>Rs. {{ item.price }}</del><br>
                  Rs. {{ item.discount_price }}
                  <span class="badge badge-pill danger-color">{{item.dis_per}}% off</span>
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}
        </div>

      </section>
      <!--Section: Products v.3-->

    </div>
  </main>
